<div class="user-info">
  <%= link_to "Create an item", new_user_item_path(current_user, :items) %>
  <div class="pull-right">
    <%= "Tasks to complete:" unless @items.count == nil%>
    <br>
    <% @items.each do |item| %>
      <dev class="unchecked_items">
        <%= render item %>
      </dev>
    <% end %>
    <br>
    <%= "Completed Tasks:" unless @completed_items.count == nil%>
    <br>
    <% @completed_items.each do |item| %>
      <div class="checked_items">
        <%= render 'items/completed', item: item %>
      </div>
    <% end %>
  </div>
</div>
