<div class="user-info">
  <%= current_user.items.count %>
  <%= "Your id: #{current_user.id}" %>
  <br>
  <%= "Your email: #{current_user.email}" %>
  <br>
  <%= link_to "Create an item", new_user_item_path(current_user, :items) %>
  <div class="pull-right">
    <%= "List of items:" unless @all_items.count == 0%>
    <br>
    <% @all_items.each do |item| %>
      <%= render item %>
    <% end %>
  </div>
</div>
